[{:itonami.blueprint/social-impact [:worker-safety :product-quality :industrial-continuity]
  :itonami.blueprint/domain :manufacturing/mineral-products-plant-scheduling-logistics-coordination
  :itonami.blueprint/required-technologies [:robotics :identity :audit-ledger]
  :itonami.blueprint/isco-08 "8114"
  :itonami.blueprint/name "Cement, Stone and Mineral Products Plant Scheduling and Logistics Coordination Practice"
  :itonami.blueprint/governor :mineral-plant-coord-governor
  :itonami.blueprint/robotics true
  :db/id -1
  :itonami.blueprint/status :public-oss
  :itonami.blueprint/id "cloud-itonami-isco-8114"
  :itonami.blueprint/license "AGPL-3.0-or-later"}]
